@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: coral;
}

/* Based on spaceyvwebsite
background image- it's a selector. we use it in css to add background image. You can also customise the size */

/* vh and vw - viewport height and viewport width to show the content of our website adapted to what the user can see on their screen at a time*/

/* z-index - if we change the z index of an element, it will push that image to the back of the screen */

header {
  background-color: rgb(233, 233, 236);
  width: 100%;
}

nav {
  display: flex;
  position: fixed;
  z-index: 10;
  padding: 20px;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.purplesky {
  height: auto;
  max-width: 100%;
  width: 2000px;
}

.greenfield {
  height: auto;
  max-width: 100%;
}

.suffolktown {
  height: auto;
  max-width: 100%;
}

footer {
  padding: 20px;
}

.instagram {
  display: flex;
  position: relative;
  z-index: 10;
  padding: 20px;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}
